[credential "https://github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
[core]
  paper = cat
  editor = code --wait
[push]
  followTags = true
[alias]
  s = !git status -s
  a = !git add --all
  c = !git commit -m
  cne = !git commit --amend --no-edit
  acne = !git add --all && git commit --amend --no-edit
  ac = !git add --all && git commit -m
  l = !git --no-pager log  --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(Green)%cr' --oneline -n
  ll = !git log --pretty=format:'%C(blue)%h %C(red)%d %C(white)%s - %C(cyan)%cn, %C(Green)%cr' --oneline 
  psh = !git push origin HEAD
  pullm = !git pull origin HEAD
  remotes = !git remote -v
[init]
  defaultBranch = master
[user]
  name = Bruno Andrade
  email = brunoan99@gmail.com
